<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">
		
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>#{msg.onlineferries_index_title1}</title>
</h:head>

<body>

<f:view locale="#{localeHandler.locale}">
	<h:outputStylesheet library="css" name="style.css"/>

	<div class="header">
  		<h1>#{msg.onlineferries_welcome_message}</h1>
  		<h:panelGrid columns ="2">
  			<h:panelGrid columns="2" cellpadding="15">
  				<h:form>
  					<h:commandLink action="#{localeHandler.changeLocale}">
						<h:graphicImage library="images" name="FLGGERM.GIF"/>
						<f:param name="locale" value="de"/>
					</h:commandLink>
						<h:commandLink action="#{localeHandler.changeLocale}">
						<h:graphicImage library="images" name="FLGUK.GIF"/>
					<f:param name="locale" value="en"/>
					</h:commandLink>
  				</h:form>
  			</h:panelGrid>
  			<h:panelGrid columns="1" styleClass="pos_right">
  				<h:form>
  					<h:commandLink action="#{loginHandler.logout}" value="#{loginHandler.displayName}" immediate="true" styleClass="text_white"/>
  				</h:form>
  			</h:panelGrid>
  		</h:panelGrid>
	</div>
				
	<div class="row">
	
		<div class="col-3">
			<h:form>
				<h:panelGrid columns="1">
					<h:button class="col-12" value="#{msg.onlineferries_editreservation_back}" outcome = "showCustomerReservations.xhtml"/>		
				</h:panelGrid>
			</h:form>
		</div>

		<div class="col-6">
		<h:form id="reservation">

			<h:panelGrid columns="1">
				<h:outputFormat value="#{msg.onlineferries_showcustomerprofile_name}">
					<f:param value="#{loginHandler.customer.lastname}"/>
					<f:param value="#{loginHandler.customer.firstname}"/>	
				</h:outputFormat>
			<!--  Title -->
				<h:outputFormat value="#{msg.onlineferries_editreservation_title}">
					<f:param value="#{reservationHandler.editReservation_id}"/>
					<f:param value="#{reservationHandler.totalPrice}"/>	
				</h:outputFormat>
			<!--  Route -->
				<h:outputFormat value="#{msg.onlineferries_trip_currentroute}">
					<f:param value="#{routeHandler.route.start}"/>
					<f:param value="#{routeHandler.route.destination}"/>	
				</h:outputFormat>
			<!--  Date -->
				<h:outputFormat value="#{msg.onlineferries_res1_currenttrip}">
					<f:param value="#{tripHandler.trip.formatDate}"/>
					<f:param value="#{tripHandler.trip.formatDeparture}"/>
					<f:param value="#{tripHandler.trip.formatArrival}"/>
				</h:outputFormat>
			</h:panelGrid>
			
			<hr/>
					
			<!-- Reserve Cabins table -->
			<h:panelGrid columns="1">
			
				<h:dataTable value = "#{reservationHandler.shipCabins}" var="shipcabin">
					<f:facet name="Header">#{msg.onlineferries_res1_lblSelectCabin}</f:facet>
					<h:column>
						<f:facet name="header">#{msg.onlineferries_res1_lblCabintype}</f:facet>
						#{shipcabin.cabinDescr}
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.onlineferries_res1_lblPrice}</f:facet>
						#{shipcabin.price}
					</h:column>
					<h:column>
						<f:facet name="header">#{msg.onlineferries_res1_lblCount}</f:facet>
						<h:inputText value="#{shipcabin.res_count}"/>
						<!-- Aufgabe 3 -->
						(#{shipcabin.count - tripHandler.getCabinsRes(shipcabin.cabin_id)})
					</h:column>
				</h:dataTable>

				<hr/><br/>
						
				<h:panelGrid columns = "3">
					<h:outputLabel value = ""/><h:outputLabel value = "#{msg.onlineferries_res1_lblPrice}"/><h:outputLabel value = "#{msg.onlineferries_res1_lblCount}"/>
	
					<h:outputLabel value = "#{msg.onlineferries_res1_lblCars}"/>
					<h:outputLabel id = "carPrice" value = "#{tripHandler.trip.carPrice}">
						<f:convertNumber type="currency" currencySymbol = "EUR"/>
					</h:outputLabel>
					<h:column>
					<h:inputText id="cars" value="#{reservationHandler.cars}" required ="true" />
					(#{routeHandler.ship.cars - tripHandler.getCars()})	
					</h:column>
					<h:outputLabel value = "#{msg.onlineferries_res1_lblTravellers}"/>	
					<h:outputLabel id = "passengerPrice" value = "#{tripHandler.trip.passengerPrice}">
						<f:convertNumber type="currency" currencySymbol = "EUR"/>
					</h:outputLabel>
					<h:column>
					<h:selectOneListbox id="travellers" value="#{reservationHandler.travellers}" size="1"
						onchange="this.form.submit()" immediate="true" valueChangeListener = "#{reservationHandler.changeTraveller}">
						<f:selectItems value="#{reservationHandler.travellerValues}"/>
					</h:selectOneListbox>
					(#{routeHandler.ship.passengers - tripHandler.getPassengers()})	
					</h:column>
				</h:panelGrid>

				<hr/><br/>

				<h:dataTable value="#{reservationHandler.travellerNames}" var="traveller">
					<h:column>
						<f:facet name="header">#{msg.onlineferries_res1_lblLastName}</f:facet>
						<h:inputText value = "#{traveller.name}" id="traveller"
							required = "true" requiredMessage="#{msg.onlineferries_res1_errorLastName}"
						 	validator="#{reservationHandler.validateTravellerName}"/>	
						 <h:message showDetail="true" for = "traveller"/>						
					</h:column>
				</h:dataTable>				

			</h:panelGrid>
						
			<h:panelGrid columns = "2" >
				<h:commandButton action="#{reservationHandler.editReservation}" value="#{msg.onlineferries_res1_submit}"/>
				<h:message for="reservation" styleClass="warning"/>	
			</h:panelGrid>			
		
		</h:form>		
				
		</div>
		
		<div class="col-3 right">
  			<div class="aside">
				<h2>#{msg.onlineferries_index_title2}</h2>
				<div><h:graphicImage library="images" name="schiff.GIF"/></div>
  			</div>
		</div>
							
	</div>	
	
	<div class="footer">
  		<p id="footer">Resize the browser window to see how the content respond to the resizing.</p>
	</div>
						
</f:view>
			
</body>

</html>