<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">
		
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>#{msg.onlineferries_index_title1}</title>
</h:head>

<body>

<f:view locale="#{localeHandler.locale}">
	<h:outputStylesheet library="css" name="style.css"/>

	<div class="header">
  		<h1>#{msg.onlineferries_welcome_message}</h1>
  		<h:panelGrid columns ="2">
  			<h:panelGrid columns="2" cellpadding="15">
  				<h:form>
  					<h:commandLink action="#{localeHandler.changeLocale}">
						<h:graphicImage library="images" name="FLGGERM.GIF"/>
						<f:param name="locale" value="de"/>
					</h:commandLink>
						<h:commandLink action="#{localeHandler.changeLocale}">
						<h:graphicImage library="images" name="FLGUK.GIF"/>
					<f:param name="locale" value="en"/>
					</h:commandLink>
  				</h:form>
  			</h:panelGrid>
  			<h:panelGrid columns="1" styleClass="pos_right">
  				<h:form>
  					<h:commandLink action="#{loginHandler.logout}" value="#{loginHandler.displayName}" immediate="true" styleClass="text_white"/>
  				</h:form>
  			</h:panelGrid>
  		</h:panelGrid>
	</div>
				
	<div class="row">
	
		<div class="col-3">
			<h:form>
				<h:panelGrid columns="1">
					<h:button class="col-12" outcome="login.xhtml" value="#{msg.onlineferries_index_submit1}"/>	
					<h:commandButton class="col-12" action="#{reservationHandler.back2}" value="#{msg.onlineferries_sel_back}" immediate = "true"/>					
				</h:panelGrid>
			</h:form>
		</div>

		<div class="col-6">

			<h:panelGrid columns="1">
				<h:outputFormat value="#{msg.onlineferries_trip_currentroute}">
					<f:param value="#{routeHandler.route.start}"/>
					<f:param value="#{routeHandler.route.destination}"/>	
				</h:outputFormat>
				<h:outputFormat value="#{msg.onlineferries_res1_currenttrip}">
					<f:param value="#{tripHandler.trip.formatDate}"/>
					<f:param value="#{tripHandler.trip.formatDeparture}"/>
					<f:param value="#{tripHandler.trip.formatArrival}"/>
				</h:outputFormat>
				<h:outputFormat value="#{msg.onlineferries_res1_currentship}">
					<f:param value="#{routeHandler.ship.description}"/>
				</h:outputFormat>
			</h:panelGrid>
			
			<hr/>
			
			<h3><h:outputFormat value="#{msg.onlineferries_sel_title}">
					<f:param value="#{reservationHandler.reservationPrice}"/>
	    		</h:outputFormat>
			</h3>	

			<h:panelGrid columns="2">
				<h:outputText value="#{msg.onlineferries_res1_lblCars}"/>
				<h:outputText value="#{reservationHandler.cars}"/>	
			</h:panelGrid>	

			<h:dataTable value="#{reservationHandler.selectedShipCabins}" var="shipCabin">
				<h:column>
					<f:facet name="header">#{msg.onlineferries_sel_lblCabin}</f:facet>
					#{shipCabin.cabinDescr}
				</h:column>
				<h:column>
					<f:facet name="header">#{msg.onlineferries_res1_lblCount}</f:facet>
					#{shipCabin.res_count}
				</h:column>
			</h:dataTable>
	
			<h:dataTable value="#{reservationHandler.travellerNames}" var="traveller">
				<h:column>
					<f:facet name="header">#{msg.onlineferries_res1_lblTravellers}</f:facet>
					#{traveller.name}
				</h:column>
			</h:dataTable>

			<hr/>
			
			<h:panelGrid columns="2">
				<h:form>
					<h:outputText value="#{msg.onlineferries_sel_lbl_next1}"/><h:outputText value = "  "/>
					<h:commandButton action="#{loginHandler.newCustomer}" value="#{msg.onlineferries_sel_next1}"/>			
				</h:form>
				<h:form>
					<h:outputText value="#{msg.onlineferries_sel_lbl_next2}"/><h:outputText value = "  "/>
					<h:button outcome="login.xhtml" value="#{msg.onlineferries_sel_next2}"/>				
				</h:form>
			</h:panelGrid>			
		</div>
		
		<div class="col-3 right">
  			<div class="aside">
				<h2>#{msg.onlineferries_index_title2}</h2>
				<div><h:graphicImage library="images" name="schiff.GIF"/></div>
  			</div>
		</div>
							
	</div>	
	
	<div class="footer">
  		<p id="footer">Resize the browser window to see how the content respond to the resizing.</p>
	</div>
						
</f:view>
			
</body>

</html>