<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core">
		
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>#{msg.onlineferries_login_title}</title>
</h:head>

<body>

	<f:view locale="#{localeHandler.locale}">
		<h:outputStylesheet library="css" name="style.css"/>

		<div class="header">
  		<h1>#{msg.onlineferries_welcome_message}</h1>
  		<h:panelGrid columns ="2">
  			<h:panelGrid columns="2" cellpadding="15">
  				<h:form>
  					<h:commandLink action="#{localeHandler.changeLocale}">
						<h:graphicImage library="images" name="FLGGERM.GIF"/>
						<f:param name="locale" value="de"/>
					</h:commandLink>
						<h:commandLink action="#{localeHandler.changeLocale}">
						<h:graphicImage library="images" name="FLGUK.GIF"/>
					<f:param name="locale" value="en"/>
					</h:commandLink>
  				</h:form>
  			</h:panelGrid>
  			<h:panelGrid columns="1" styleClass="pos_right">
  				<h:form>
  					<h:commandLink action="#{loginHandler.logout}" value="#{loginHandler.displayName}" immediate="true" styleClass="text_white"/>
  				</h:form>
  			</h:panelGrid>
  		</h:panelGrid>
	</div>

		<div class="row">

			<div class="col-3">
				<h:form>
					<h:panelGrid columns="1">
						<h:button class="col-12" outcome="index.xhtml" value="#{msg.onlineferries_index_back}" immediate = "true"/>	
					</h:panelGrid>
				</h:form>
			</div>

			<div class="col-6">			
				<p style="text-align:center;">
				<h:form>
					<h:outputFormat value="#{msg.onlineferries_showcustomerprofile_name}">
						<f:param value="#{loginHandler.customer.lastname}"/>
						<f:param value="#{loginHandler.customer.firstname}"/>	
					</h:outputFormat>
					
					<h:dataTable value="#{reservationTableHandler.reservationTableViews}" var="rtv">
						<f:facet name="header">#{msg.onlineferries_showcustomerprofile_reservations}</f:facet>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_resnumber}</f:facet>
		    				<h:commandLink value="#{rtv.reservation_id}" action="#{reservationHandler.loadReservation(rtv.reservation_id)}" immediate="true" />
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_route}</f:facet>
		    				#{rtv.routeStart} - #{rtv.routeEnd}
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_date}</f:facet>
		    				#{rtv.date}
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_departure}</f:facet>
		    				#{rtv.departure}
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_arrival}</f:facet>
		    				#{rtv.arrival}
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_cars}</f:facet>
		    				#{rtv.cars}
		    			</h:column>
		    			
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_cabins}</f:facet>
		    				<h:dataTable value="#{rtv.cabinReservationViews}" var="cabin">
		    					<h:column>
		    						#{cabin.cabintype}
		    					</h:column>
		    					<h:column>
		    						#{cabin.count}
		    					</h:column>
		    				</h:dataTable>
		    			</h:column>
		    			<h:column>
		    				<f:facet name="header">#{msg.onlineferries_showcustomerreservations_travellers}</f:facet>
		    				<h:dataTable value="#{rtv.travellerNames}" var="traveller">
		    					<h:column>
		    						#{traveller.name}
		    					</h:column>
		    				</h:dataTable>
		    			</h:column>
		    		</h:dataTable>
		    		</h:form>
				</p>
			</div>
			
			<div class="col-3 right">
  				<div class="aside">
					<h2>#{onlineferries_index_title2}</h2>
					<div><h:graphicImage library="images" name="schiff.GIF"/></div>
  				</div>
			</div>
		</div>

		<div class="footer">
  			<p id="footer">Resize the browser window to see how the content respond to the resizing.</p>
		</div>
								
	</f:view>
	
</body>


</html>