* {
    box-sizing: border-box;
}
.row {
	background-color: #DDDDDD;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 10px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

[class*="col-"] {
	width: 100%;
}

/* For desktop: */
@media only screen and (min-width: 768px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

table {
	width: 100%;
	padding-bottom: 5px;
}

th {
	padding: 5px;
	background-color: #bbbbbb;
}

tr.odd {
	background-color: #b2edff;
}

tr.even {
	background-color: #8fe3ff;
}

.pos_right {
	text-align: right;
}

.text_white {
	color: #ffffff;
	font-size: 10px;
}

.warning {
	color: #ff0000 !important;
	font-style: italic;
}
